:root{
    --primary-normal:#16161633;   
    --primary-dark:#111111cc;
    --primary-light:#141414;
    --secondary-normal:#090d11;
    --secondary-dark:#06090c;
    --secondary-light:#1a1f25;
    
    
    --neutral-normal:#232224;
    --neutral-dark:#161617;
    --neutral-light:#353436;
    --white-normal:#ffffff;
    --white-dark:#edeaef;
    --white-light:#fefbff;
    
    --auxiliary-normal:#06121e;
    --auxiliary-dark:#040f10;
    --auxiliary-light:#0c2135;
}