*{
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    
}

body{
    font-family: "Sora", sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--primary-dark);

}
button{
    cursor: pointer;
}
svg{
    width: 100%;
}
img{
    width: 100%;
}
a{
    cursor: pointer;
    text-decoration: none;
}