@import url('https://fonts.googleapis.com/css2?family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    background: url(../img/IMG_0251.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) ;
}
.content h1{
    font-family: "Honk", system-ui;
    font-weight: 200;
    font-size: 40px;
}
nav{
    width: 100%;
    background: #000;
    height: 70px;
    position: static;
    z-index: 1;
}
.brand{
    float: left;
    display: block;
    margin-left: 84px;

}
.brand img{
    width: 60px;
    border-radius: 100%;
}
.brand a{
    transition: all 0.3s ease ease-out;
}
.menu{
    float: left;
    left: 50%;
    position: relative;
}
.menu li{
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
    line-height: 70px;
    position: relative;
    transition: all 0.3s ease-out;
}
.menu li a{
    color: #fff;
    font-family: "Poppins";
    font-weight: 200;
}
.toggle{
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}
.toggle .span{
    height: 3px;
    background: #fff;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}
.toggle .on #one{
    transform: rotate(45deg) translate(2px) translateY(4px);
}
.toggle .on #two{
    opacity: 0;
}
.toggle .on #three{
    transform: rotate(-45deg) translate(8px) translateY(-10px);
}
.resize{
    z-index: 1;
    top: 0px;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1x ease-out;
    display: table;
}
.resize .menu{
    height: 50px;
    display: table-cell;
    vertical-align: center;
}
.resize .menu li{
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: 200;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.resize .menu li a{
    color: #fff;
}
.resize.active{
    visibility: visible;
    opacity: 0.99;
}

@media screen and (max-width:768px) {
    .toggle{
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
    }
    nav .brand{
        margin-left: 18px;
    }
    .menu a{
        font-family: "Poppins";
        font-weight: 200;
        font-size: 20px;
    }
    nav .menu{
        display: none;
    }
    
}